[user]
	name = Florent Vennetier
	email = florent@openio.io
	signingKey = "411B8173FD5AB26697372931B82B03096AB48E8A"
[push]
	default = simple
[alias]
	fa = fetch --all
	logd = log --pretty=fuller --decorate --graph
	mff = merge --ff-only
	pushf = push --force-with-lease
	ria = rebase -i --autosquash

[color "diff"]
	old = 009
	new = 010

[color "status"]
	added = 010
	changed = 009
	unmerged = 202
	untracked = 130

[color "branch"]
	remote = 009

[gitreview]
	username = fvennetier

[fetch]
	prune = true

[rerere]
	enabled = true
