[user]
	name = Florent Vennetier (OpenIO)
	email = florent@fridu.net
	signingKey = "EDD618881C889B6E4DE592E76C159D40C9498FAF"
[push]
	default = simple
[alias]
	logd = log --pretty=fuller --decorate --graph
	mff = merge --ff-only
	fa = fetch --all

[color "diff"]
	old = 009
	new = 010

[color "status"]
	added = 010
	changed = 009
	unmerged = 202
	untracked = 130

[color "branch"]
	remote = 009

[gitreview]
	username = fvennetier

[fetch]
	prune = true
